fastapi==0.115.14
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
mysql-connector-python==9.3.0
psycopg2-binary==2.9.10
pydantic[email]==2.11.7
python-jose[cryptography]==3.5.0
passlib==1.7.4
bcrypt==4.3.0
python-dotenv==1.1.1
opencv-contrib-python-headless==4.11.0.86
psutil==7.0.0
python-multipart==0.0.20
apscheduler==3.11.0
reportlab==4.4.1
fpdf2==2.8.3
requests==2.32.4
redis==5.2.1
boto3==1.38.41
google-genai==1.19.0
twilio==9.6.4
qrcode[pil]==8.2
pyotp==2.9.0
Pillow==11.2.1
numpy==2.2.6
